body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
.arena {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  height: 100vh;
}

.stadium {
  width: 70vw;
  height: 55vh;
  border: 4px dotted;
}

.main {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
}

.main__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulb {
  background-color: #b5e48c;
  border-radius: 15px;
  border: 5px solid white;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulb img {
  width: 175px;
  height: 201px;
}

.char {
  background-color: #e76f51;
  border-radius: 15px;
  border: 5px solid white;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#health {
  width: 200px;
  margin: 15px;
  height: 15px;
}

#healthe {
  width: 200px;
  margin: 15px;
  height: 15px;
}

progress::-moz-progress-bar {
  background: lightcoral;
}

progress::-webkit-progress-value {
  background: red;
}

progress::-webkit-progress-bar {
  background: red;
}

.attack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
}

.stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 100px;
  height: 25px;
  border: 2px solid green;
  background-color: #b5e48c;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}